@import "../node_modules/spectre.css/dist/spectre.css";
@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/addon/fold/foldgutter.css";



.CodeMirror {
    height: auto;
    top: 0;
}
.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}
.CodeMirror-guttermarker-subtle{
    color : #ffb700;
}


.splitter {
    min-height: 200px;
    cursor: col-resize;

}

.navbar-section {
    background-color: #2e6793;
    background-blend-mode:lighten;
    background: -webkit-linear-gradient(#142532, #7dc5fb);
}

.title-font {
    font-family: system-ui;
    font-weight: 700;
    color:aliceblue;
}

.button-style {
    background: -webkit-linear-gradient(#142532, #7dc5fb);
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 10rem;
}

.button-set {
    width: auto;
}

.menu {
    margin-right: 3%; 
    min-width: -webkit-fill-available;
}


#container {
    /* width: 100%;
    height: 100%; */
    display: flex;
}

#left_panel {
    /* position: absolute;
    left: 0;
    top: 45px;
    bottom: 0;*/
    width: 49%; 
    display: flex;
}

#right_panel {
    /* position: absolute;
    right: 0;
    top: 45px;
    bottom: 0;*/
    width: 51%; 
    display: flex;
}

#drag {
    top: 0;
    bottom: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}