@import "../node_modules/spectre.css/dist/spectre.css";
@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/addon/fold/foldgutter.css";


.CodeMirror {
    height: auto;
    top: 0;
}
.CodeMirror-scroll {
    overflow-y: auto;
    overflow-x: auto;
}
.CodeMirror-guttermarker-subtle{
    color : #ffb700;
}


.splitter {
    min-height: 200px;
    cursor: col-resize;

}

.navbar-section {
    background: linear-gradient(45deg, #dbdbdd, #c3c3ec);
    --tw-text-opacity: 1;
    color: rgba(236,236,241,var(--tw-text-opacity));
    border-radius: 5px;
    box-shadow: #142532;
}

.title-font {
    font-family: system-ui;
    font-weight: 700;
    --tw-text-opacity: .85;
    color: rgba(36,36,41,var(--tw-text-opacity));
}

.button-style {
    background: -webkit-linear-gradient(#dbdbdd, #c3c3ec);
    --tw-text-opacity: 1;
    color: rgba(36,36,41,var(--tw-text-opacity));
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    width: 10rem;
}

.button-set {
    width: auto;
}

.menu { 
    min-width: stretch;
    background: linear-gradient(45deg, #dbdbdd, #c3c3ec);
}

.menu-right {
    background: linear-gradient(315deg, #dbdbdd, #c3c3ec);
}


#container {
    display: flex;
}

#left_panel {
    width: 49%; 
    display: flex;
    background: linear-gradient(45deg, #dbdbdd, #d0d0e2);
}

#right_panel {
    width: 51%; 
    display: flex;
    background: linear-gradient(45deg, #cfd0e2, #c3c3ec);
}

#drag {
    top: 0;
    bottom: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #dbdbdd, #c3c3ec);
}